# Completely ignore these directories
models/
data/
processed_data/
vector_db/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
env/
venv/
.venv/

# Large files
*.safetensors
*.pt
*.pth
*.ckpt
*.json
# System files
.DS_Store
.idea/
.vscode/